@import "../../scss/utils/variables";

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color-black, 0.6);
	z-index: 1;
	animation: fadeOutBackdrop 0.3s linear forwards;
}

.shown {
	animation: fadeInBackdrop 0.3s linear forwards;
}

@keyframes fadeInBackdrop {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fadeOutBackdrop {
	from {
		opacity: 1;
		visibility: visible;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}