@import "../utils/variables";

#root {
	min-height: 100vh;
}

body {
	font-family: $main-font;
	min-width: 320px;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
	padding: 0 20px;

	&--wide {
		max-width: 1320px;
	}

	.tab {
		min-width: auto;
		width: 100%;
	}

	.constructor-element {
		@include media-down(md) {
			max-width: none;
		}
	}
}