@import "../../scss/utils/variables";
@import "../../scss/utils/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;

  @include media-up(lg) {
    height: calc(100vh - 82px);
  }

  @include media-up(xl) {
    height: calc(100vh - 88px);
  }
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  @include media-up(lg) {
    justify-content: space-between;
  }
}

.error {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  &__icon {
    width: 48px;
    height: 48px;
    display: block;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
