@import "../../scss/utils/variables";
@import "../../scss/utils/mixins";

.popup {
	color: $color-primary-light;
	position: fixed;
	z-index: 2;
	left: 50%;
	top: 50%;
	max-width: 750px;
	width: calc(100% - 30px);
	overflow-y: auto;
	transform: translate(-50%, -50%);
	max-height: calc(100vh - 40px);
	background: $color-modal-bg;
	border: 2px solid rgba($color-accent, 0.2);
	border-radius: 40px;
	padding: 20px;
	box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04),
							0 16px 24px rgba(0, 0, 0, 0.04),
							0 4px 8px rgba(0, 0, 0, 0.04),
							0 0 1px rgba(0, 0, 0, 0.04);
	//animation: fadeOutModal 0.3s linear forwards;

	@include media-up(md) {
		padding: 40px 40px 60px;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 700;
		font-size: 36px;
		line-height: 40px;
		min-height: 60px;
	}

	&__close {
		cursor: pointer;
		width: 24px;
		height: 24px;
		flex-shrink: 0;
		margin-left: auto;
		color: $color-primary-light;
		padding: 0;
		border: none;
		background: none;
		display: flex;
		align-items: center;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__body {
		display: flex;
		min-height: 55vw;

		@include media-up(md) {
			min-height: 400px;
		}
	}

	&__loading {
		width: 100%;
		//height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			max-width: 48px;
		}
	}
}

.shown {
	animation: fadeInModal 0.3s linear forwards;
}

@keyframes fadeInModal {
	from {
		opacity: 0;
		visibility: hidden;
		transform: translate(-50%, calc(-50% + 10px));
	}
	to {
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, -50%);
	}
}

@keyframes fadeOutModal {
	from {
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, -50%);
	}

	to {
		opacity: 0;
		visibility: hidden;
		transform: translate(-50%, calc(-50% + 10px));
	}
}